/* "Yet Another Multicolumn Layout" v3.3 (c) by Dirk Jesse (http://www.yaml.de)
 * "Templates for TemplaVoila reloaded" v1.0 (c) by Dieter Bunkerd (http://typo3-asia.com) */ 
@media screen, projection
{
#main {width:100%;float:left}
#col1 {width:50%;float:left;margin-left:25%}
#col1_content {padding-left:10px;padding-right:10px}
#col2 {width:25%;float:left;margin-left:-75%}
#col2_content {padding-left:20px;padding-right:10px}
#col3 {float:right;width:25%;margin-left:-5px;margin-right:0%}
#col3_content {padding-left:10px;padding-right:20px}
}
