/* "Yet Another Multicolumn Layout" v3.3 (c) by Dirk Jesse (http://www.yaml.de)
 * "Templates for TemplaVoila reloaded" v1.0 (c) by Dieter Bunkerd (http://typo3-asia.com) */ 
@media screen, projection
{
.hideboth #col3 {margin-left:0;margin-right:0}
.hideboth #col3_content {padding-left:20px;padding-right:20px}
.hidecol1 #col3 {margin-left:0;margin-right:25%}
.hidecol1 #col3_content {padding-left:20px}
.hidecol2 #col3 {margin-left:25%;margin-right:0}
.hidecol2 #col3_content {padding-right:20px}
.hideboth #col1, .hideboth #col2, .hidecol1 #col1, .hidecol2 #col2 {display:none}
}
