<html>
	<title>Grid: 3 columns 33/33/33</title>
	<body>
    <div class="subcolumns equalize box-top">
      <div class="c33l">
        <div class="subcl">
          <!-- Insert your subtemplate content here -->
          <h6>Topic One </h6>
          <ul>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
            <li>List Item 4</li>
            <li>List Item 5</li>
          </ul>
          <a href="#" class="hideme">&rarr; read more ...</a>
        </div>
      </div>
      <div class="c33l">
        <div class="subc">
          <!-- Insert your subtemplate content here -->
          <h6>Topic Two </h6>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
          <a href="#" class="hideme">&rarr; read more ...</a>
        </div>
      </div>
      <div class="c33r">
        <div class="subcr">
          <!-- Insert your subtemplate content here -->
          <h6>Topic Three</h6>
          <ul>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
            <li>List Item 4</li>
            <li>List Item 5</li>
          </ul>
          <a href="#" class="hideme">&rarr; read more ...</a>
        </div>
      </div>
    </div>
    <div class="subcolumns equalize no-ie-padding box-bottom">
      <div class="c33l">
        <div class="subcl"></div>
      </div>
      <div class="c33l">
        <div class="subc"></div>
      </div>
      <div class="c33r">
        <div class="subcr"></div>
      </div>
    </div>
	</body>
</html>