/* "Yet Another Multicolumn Layout" v3.3 (c) by Dirk Jesse (http://www.yaml.de)
 * "Templates for TemplaVoila reloaded" v1.0 (c) by Dieter Bunkerd (http://typo3-asia.com) */ 
@media screen,projection{
body,html{height:100% !important;padding:0}
.page_margins{position:relative !important;min-height:100%;height:auto !important;background:#fff}
* html .page_margins{height:100% !important}
.page{padding-bottom:70px}
#main{padding:5px 0}
#footer{position:relative !important;min-width:740px;max-width:80em;margin:0 auto;margin:-70px auto 0;background:#fff;border:0 none;padding:0}
#footer_content{text-align:left;color:#666;background:#f9f9f9;padding:10px 20px;border-top:5px #efefef solid;margin:0 10px}
.rootlineMenu{margin-bottom:10px;padding:2px 0;text-align:right;font-size:87%}
.rootlineMenu a{text-decoration:underline;padding-right:2px}
.rootlineMenu a:hover{text-decoration:none}
.rootlineMenu ul{display:inline;margin:0}
.rootlineMenu li{display:inline;margin:0;list-style:none;padding:0 2px;color:#880000}
.rootlineMenu li.last{font-weight:bold;color:#444}
.rootlineMenu li.first:after{content:" >"}
.rootlineMenu li.inside:after{content:" >"}
}